
.brand{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.brand-logo{
    width : 70px;
    height: 70px;

}
.brand-name{
    font-size: 35px;
    font-family: 'Caveat', cursive;
    margin-left: 2px;
    color: rgba(205,85,85,30);
}