.body{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px;
}
.body > h1{
    font-size: 45px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 600;
}
.card-box{
    display: flex;
    margin-left: 40px;
    margin-right: 40px;
    width: 80%;
    margin-top: 50px;
    justify-content: space-around;
}

/* .....................media querry...................... */

/* 
@media screen and (max-width: 800px) {


    .body{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 50px;
    }
    .body > h1{
        font-size: 45px;
        font-family: Helvetica, Arial, sans-serif;
        font-weight: 600;
    }
    .card-box{
        display: flex;
        margin-left: 40px;
        margin-right: 40px;
        width: 80%;
        margin-top: 50px;
        justify-content: space-around;
    }
    
  }

   */
